body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Input-Container {
  padding: 40px 30px;
  background-color: #4696e5;
  color: white;
}

h1 {
  font-size: 60px;
  margin: 0;
}

#myInput {
  padding: 13px 25px;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: #4696e5;
  font-size: 18px;
  width: 95%;
}

#myInput:focus {
  outline: transparent;
}

::placeholder {
  color: #4696e5;
  opacity: 0.5;
  font-size: 18px;
}

.add-Btn {
  padding: 10px 25px;
  border: 0.5px solid white;
  border-radius: 5px;
  background-color: #4696e5;
  color: white;
  font-size: 17px;
  font-weight: bold;
  margin-top: 15px;
  width: auto;
}

.add-Btn:focus {
  outline: 0;
}

.add-element {
  display: block;
  text-align: end;
  margin-right: 90px;
}

h2 {
  text-align: center;
  color: #7c7c7c;
  font-size: 35px;
  font-weight: light;
  padding: 50px 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  list-style: none;
  color: #7c7c7c;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  width: 98%;
}

.btn {
  border: none;
  background-color: transparent;
}

.btn:focus {
  outline: 0;
}

.Modal-Btn {
  padding: 10px 25px;
  border: 0.5px solid white;
  border-radius: 5px;
  background-color: #4696e5;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 15px;
  width: auto;
  margin-right: 10px;
}
.Modal-Btn:focus {
  outline: transparent;
}
#ModalInput {
  padding: 10px 15px;
  background-color: white;
  border: 0.5px solid #cccbcb;
  border-radius: 5px;
  color: #4696e5;
  font-size: 15px;
  margin-right: 10px;
}
#ModalInput:focus {
  outline: transparent;
}
